.rotating-animation {
    display: inline-block;
    animation: gentle-rotation 2s ease-in-out infinite;
}

@keyframes gentle-rotation { 
    0%, 100% { transform: rotate(-10deg); } 50% { transform: rotate(10deg); } 
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
        background-color: rgb(236, 200, 165);
}